body{
  background-color: #647687;
  margin: 0;
}

.canvas-container{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#myCanvas{
  border: 1px solid black;
  margin: 10px 0px;
}

.start-btn{
  width: 150px;
  height: 75px;
  background: #008a00;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 35px;
}

.start-btn:hover{
  box-shadow: 3px 3px 2px black;
}

.pause-btn{
  width: 150px;
  height: 75px;
  background: #fa6800;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 35px;
}

.pause-btn:hover{
  box-shadow: 3px 3px 2px black;
}

.spec{
  display: block !important;
  margin: 0 2px;
  width: 135px !important;
  height: 90px !important;
}
.spec-container{
  top: 60vh !important;
  margin: 0px 36px;
  padding: 5px;
  background-color: #6d8764;
  border: 1px solid black;
}
.spec:hover{
  box-shadow: 3px 3px 2px black;
}

.stats{
  font-size: 1.5em;
  margin: 5px;
}