body{
  background-color: #647687;
  margin: 0px;
  height: 97vh;
  padding: 1%;
}

#Main{
  height: 100%;
  width: 100%;
  margin: 0px
}

.canvas-container{
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

#myCanvas{
  border: 1px solid black;
  /*margin: 10px 0px;*/
}

.start-btn{
  width: 50%;
  background: #008a00;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 20px;
}

.start-btn:hover{
  box-shadow: 3px 3px 2px black;
}

.pause-btn{
  width: 50%;
  background: #fa6800;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 20px;
}

.pause-btn:hover{
  box-shadow: 3px 3px 2px black;
}

.spec{
  display: block !important;
  margin: 0 2px;
  width: 135px !important;
  height: 90px !important;
}
.spec-container{
  top: 60vh !important;
  margin: 0px 36px;
  padding: 5px;
  background-color: #6d8764;
  border: 1px solid black;
}
.spec:hover{
  box-shadow: 3px 3px 2px black;
}

.stats{
  font-size: 1.5em;
  margin: 5px;
}

.brickbreaker-container{
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.brickbreaker-splash{
  width: 100%;
  display: flex;
  justify-content: center;
}

.brickbreaker-splash-btn{
  width: 15%;
  border: 1px solid white;
  border-radius: 1px;
  padding: 20px;
  display: inline-block;
  margin: 5px;

}

.brickbreaker-splash-btn-container{
  position: absolute;
  top: 500px;
  width: 70%;
}

.splash-img{
  width: 100%;
  height: 100%;
}

.easy{
  background-color: green;
}
.medium{
  background-color: orange;
}
.hard{
  background-color: red;
}

.start-btn-img{
  width: 60%;
}

.pause-btn-img{
  width: 60%;
}

.stats-container{
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden{
  display: none;
}